.clientHome {
    display: grid;
    grid-template-columns: 1fr 700px;
    gap: 200px;

    @media (max-width: 991px) {
        grid-template-columns: 700px;
        gap: 50px;
    }

    &_dec {

        h2 {
            color: #000;
            font-size: 40px;
            font-style: normal;
            font-weight: 600;
            line-height: 136%;
            margin-bottom: 50px;
        }

        p {
            color: #585858;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: 180%;
            margin-bottom: 50px;

        }
    }

    &_carousel {
        .clientSwiperHome {
            .swiper-slide {
                max-width: 100%;
            }
        }

    }
}

.clientCarousel {
    @media (max-width: 991px) {
        display: grid;
        grid-template-columns: auto auto;
        gap: 20px;
        align-items: flex-start;
    }
    &_image {
        img {
            max-width: 100%;
            height: auto;
        }
    }

    &_dec {
        h4 {
            text-align: start;
            color: #000;
            font-size: 23px;
            font-style: normal;
            font-weight: 600;
            letter-spacing: 0.23px;
            margin-top: 40px;
            margin-bottom: 15px;
            @media (max-width: 991px) {
                margin-top: 0px;
            }
        }

        p {
            color: #424242;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            margin-bottom: 15px;
        }
    }
}

.avatarCaroul {
    display: flex;
    align-items: center;

    &_image {
        margin-right: 15px;

        img {
            max-width: 100%;
            height: auto;
        }
    }

    &_name {
        color: #000;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        letter-spacing: 0.18px;
    }

    &_date {
        color: #7B7B7B;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
    }
}

.kartaHome {
    margin-top: 100px;
}

.kartaHomeItem {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 77px;
    @media (max-width: 991px) {
        grid-template-columns: 1fr;
    }
    align-items: center;

    &_image {
        img {
            max-width: 100%;
            height: auto;
        }
    }

    &_title {
        color: #ED553B;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 1.054px;
        margin-bottom: 10px;
        text-align: start;
    }

    &_titleX {
        color: #1F1F1F;
        font-size: 28px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 1.874px;
        margin-bottom: 60px;
    }

    &_text {
        margin-bottom: 30px;
    }
}