.fanera {
    padding: 150px 0;

    &_top {
        @media (max-width: 991px) {
            max-width: 100%;
        }
        max-width: 481px;
        margin-bottom: 80px;
        h2 {
            color: #000;
            font-family: Montserrat;
            font-size: 40px;
            font-weight: 900;
            margin-bottom: 50px;
        }

        p {
            color: var(--grey-2);
            font-family: Montserrat;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
        }
    }

}