:root {
    // Colors 
    --black: #1F1F1F;
    --input-grey: #EFEFEF;
    --bg-header-gradiend: linear-gradient(79deg, rgba(111, 58, 27, 0.07) -2.75%, rgba(255, 255, 255, 0.00) 101.74%);
    --text-grey: #8F8F8F;
    --red: #ED553B;
    --red-hover: #d65f4a;
    --grey: #E0E0E0;
    --grey-link: #848484;
    --grey-2: #585858;



}